<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.panshi.hujin2.base.security.dao.mapper.system.menu.controller.ControllerAuthenticationMapper">
    <insert id="add">
        insert into controller_authentication (controller_url, request_method)
        values (#{controllerUrl}, #{requestMethod});
    </insert>
</mapper>