<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.panshi.hujin2.base.security.dao.mapper.system.menu.MenuControllerMapper">
    <insert id="add">
        insert into menu_controller (menu_id, controller_id, create_operator_id)
        values (#{menuId}, #{controllerId}, #{createOperatorId});
    </insert>

    <delete id="delete">
        delete from menu_controller
        where menu_id = #{menuId}
    </delete>
</mapper>